.content
  %h1 ミーティング一覧
  %table
    %tr
      %th Name
      %th Start At
      %th End At
      %th Attendance Count
    - @meetings.each do |meeting|
      %tr
        %td= link_to meeting.name, meeting_path(meeting)
        %td= meeting.start_at.strftime('%Y/%m/%d %H:%M')
        %td= meeting.end_at.strftime('%Y/%m/%d %H:%M')
        %td= meeting.meeting_attendances.size
  = paginate @meetings
  = link_to 'ミーティング追加', new_meeting_path
