.content
  %h1 ミーティングの作成
  = form_for @meeting do |f|
    = f.label :name
    = f.text_field :name
    = f.label :start_at
    .datetime_select
      = f.datetime_select :start_at, default: Time.now
    = f.label :end_at
    .datetime_select
      = f.datetime_select :end_at, default: Time.now + 3.hours
    = f.submit
    = link_to 'Cancel', meetings_path
