.content
  .breadcrumb
    .link= link_to t('meetings.header'), meetings_path
    .link= link_to @meeting.name, meeting_path(@meeting)

  %h1
    = @meeting.name
  %p
    = @meeting.start_at.strftime('%Y/%m/%d %H:%M ~')
    = @meeting.end_at.strftime('%Y/%m/%d %H:%M')
    /
    #{t 'meetings.num_attendees'}
    = @meeting.meeting_attendances.size
    /
    - if @meeting.presentations.any?
      #{t 'meetings.num_presentations'}
      = @meeting.presentations.size

  - if @meeting.content
    = @meeting.render_content.html_safe

  %h2 #{t 'meetings.presentations_list_header'}

  %table
    %tr
      %th Order
      %th Presenter
      %th Title
      %th Handouts
      %th Last Edited At
    - @meeting.presentations.each_with_index do |presentation, index|
      -# Cache by presentation only if not own presentation
      - cache_if presentation.user_id != @current_user.id, presentation do
        %tr
          %td= index + 1
          %td= show_user_badge(presentation.user)
          %td
            = link_to presentation.title, presentation_path(presentation)
            - if presentation.user_id == @current_user.id
              = link_to edit_presentation_path(presentation) do
                %i.fa.fa-edit
              = link_to presentation_path(presentation), method: :delete,
                data: { confirm: t('button.confirm_delete') } do
                %i.fa.fa-trash
          %td
            - presentation.handouts.each do |handout|
              .handout_link
                = link_to file_upload_url(handout.to_param), target: '_blank' do
                  = handout.file_identifier.truncate(20)
                  %i.fa.fa-external-link
                - if handout.pdf? && handout.pdf_extra.present?
                  (#{handout.pdf_extra.num_of_pages}p)
          %td= presentation.last_edited_at

  - if @meeting.accepting?
    = link_to t('button.register_presentation'), new_meeting_presentation_path(@meeting), class: 'button'
  - else
    %p #{t 'meetings.registration_closed'}

  - if @current_user.has_privilege?(:presentation_orders, :create)
    = link_to t('button.change_presentation_order'), meeting_presentation_orders_path(@meeting), class: 'button'
  - if @meeting.juried? && @current_user.has_privilege?(:user_judgements, :index)
    = link_to t('button.check_results'), meeting_user_judgements_path(@meeting), class: 'button'

  - if @current_user.has_privilege?('meetings')
    .edit_link
      - if @current_user.has_privilege?('meetings', 'update')
        = link_to t('button.edit_this_meeting'), edit_meeting_path(@meeting)
      - if @current_user.has_privilege?('meetings', 'destroy')
        = link_to t('button.delete_this_meeting'), meeting_path(@meeting), method: :delete,
          data: { confirm: t('button.confirm_delete') }
