.content
  %h1
    = @meeting.name
  %p
    = @meeting.start_at.strftime('%Y/%m/%d %H:%M ~')
    = @meeting.end_at.strftime('%Y/%m/%d %H:%M')
  = @meeting.render_content.html_safe
  %h2 登録プレゼンテーション一覧
  %table
    %tr
      %th Presenter
      %th Title
      %th Handouts
    - @meeting.presentations.each do |presentation|
      %tr
        %td
          - if @current_user && (presentation.user_id == @current_user.id)
            %span
              = link_to edit_presentation_path(presentation) do
                %i.fa.fa-edit
            %span
              = link_to presentation_path(presentation), method: :delete,
                data: { confirm: '削除すると元に戻せませんが、本当に削除しますか?' } do
                %i.fa.fa-trash
          = presentation.user.nickname
        %td= link_to presentation.title, presentation_path(presentation)
        %td
          - presentation.handouts.each.with_index(1) do |handout, i|
            - if i > 1
              %br
            = link_to handout.file_identifier.truncate(20), handout.file.url
  = link_to 'プレゼンテーション登録', new_meeting_presentation_path(@meeting)
  .edit_link
    = link_to 'このミーティングを編集', edit_meeting_path(@meeting)
