- url = @blog.new_record? ? blogs_path : blog_path(@blog.to_param)
= form_for @blog, url: url do |f|
  = f.hidden_field :id
  = f.text_field :title
  = f.text_area :content, rows: 30, class: 'emoji-complete user-complete'
  = f.submit 'Post'
