.comments
  .title Comments

  - page.comments.each do |comment|
    .comment
      .user
        .icon= image_tag comment.user.icon_url
      .box
        .info
          .nickname= comment.user.nickname
        .content= raw comment.render_content

  = form_for Comment.new(page: page) do |f|
    = f.hidden_field :page_id
    .comment
      .user
        .icon= image_tag @current_user.icon_url
      .box
        = f.text_area :content, rows: 4, class: 'emoji-complete'
        = f.submit 'Comment'
