= render 'search_bar'

.content
  %h1 #{@keyword}の検索結果
  - @search.results.each do |result|
    - if result.is_a?(Page)
      = render 'page', page: result
    - elsif result.is_a?(Blog)
      = render 'blog', blog: result
    - elsif result.is_a?(SlackMessage)
      = render 'slack_message', message: result
