= render 'search_bar'

.content

  %h2= "ページの検索結果 #{@page_results.size}件"
  - @page_results.each do |result|
    = link_to page_path(path: result.path) do
      .page_result
        .info
          %span.title= result.title
        .text= highlight_content(@keyword, result.content).html_safe


  %h2= "Slackの検索結果 #{@slack_results.size}件"
  - @slack_results.each do |result|
    = link_to slack_log_url(result), target: '_blank' do
      .slack_result
        .info
          %span.user= result[:user]
          %span.small in
          %span.room= "##{result[:room]}"
          %span.timestamp= slack_log_date(result[:timestamp])
        .message= result[:message]
