= nested_form_for [@meeting, @presentation] do |f|
  = f.label :title
  = f.text_field :title
  = f.fields_for :handouts do |handout_form|
    - if handout_form.object.persisted? && handout_form.object.file?
      = handout_form.hidden_field :file
      = handout_form.object.file_identifier
      = handout_form.link_to_remove do
        %i.fa.fa-trash
    - else
      = handout_form.file_field :file
  = f.link_to_add '資料を追加', :handouts
  = f.submit
  = link_to 'Cancel', cancel_path
