.content
  .breadcrumb
    .link= link_to t('meetings.header'), meetings_path
    .link= link_to @presentation.meeting.name, meeting_path(@presentation.meeting)
    .link= link_to @presentation.title, presentation_path(@presentation)

  %h1= @presentation.title
  - cache @presentation do
    %p
      = t 'meetings.presenter'
      = show_user_badge(@presentation.user)
    %h2 Handouts
    - @presentation.handouts.each do |handout|
      .handout
        %p
          = link_to file_upload_url(handout.to_param), target: '_blank', class: 'handout-file-link' do
            = handout.file_identifier
            %i.fa.fa-external-link
          - if handout.pdf? && handout.pdf_extra.present?
            (#{handout.pdf_extra.num_of_pages}p)
        - if handout.pdf?
          .handout-pdf
            %object{ data: file_upload_url(handout.to_param), type: 'application/pdf' }
  - if @presentation.juried
    %h2 Judgement
    .judgement-field
      = render 'judgement_field', presentation: @presentation
.refreshable-comments{ data: { refresh_url: presentation_comments_path(presentation_id: @presentation.id) } }
  = render 'comments/show', comments: @presentation.comments,
    new_comment: PresentationComment.new(presentation: @presentation)
- if @presentation.next.present?
  %p.next-presentation
    = link_to "#{@presentation.next.title} (#{t 'button.next'} >>)",
      presentation_path(@presentation.next),
      ga_track_attributes('presentations#show', 'next-presentation')
