.content
  .breadcrumb
    .link= link_to 'ミーティング一覧', meetings_path
    .link= link_to @presentation.meeting.name, meeting_path(@presentation.meeting)
    .link= link_to @presentation.title, presentation_path(@presentation)

  %h1= @presentation.title
  %p
    発表者:
    = @presentation.user.nickname
  %h2 Handouts
  - @presentation.handouts.each do |handout|
    %p
      = link_to handout.file.url, target: '_blank' do
        = handout.file_identifier
        %i.fa.fa-external-link
  - if @presentation.juried
    %h2 判定
    .judgment-field
      = render 'judgment_field', presentation: @presentation

.refreshable-comments{ data: { refresh_url: presentation_comments_path(presentation_id: @presentation.id) } }
  = render 'comments/show', comments: @presentation.comments,
    new_comment: PresentationComment.new(presentation: @presentation)
