.content
  .breadcrumb
    .link= link_to 'ミーティング一覧', meetings_path
    .link= link_to @presentation.meeting.name, meeting_path(@presentation.meeting)
    .link= link_to @presentation.title, presentation_path(@presentation)

  %h1= @presentation.title
  %p
    発表者:
    = @presentation.user.nickname
  %h2 Handouts
  - @presentation.handouts.each do |handout|
    = link_to handout.file.url, target: '_blank' do
      = handout.file_identifier
      %i.fa.fa-external-link

= render 'comments/list', comments: @presentation.comments, new_comment: PresentationComment.new(presentation: @presentation)
