.content
  %h1 グループ一覧
  %table
    %tr
      %th #
      %th Kind
      %th Name
      %th Members
    - @groups.each do |group|
      %tr
        %td= group.id
        %td= group.kind.to_s
        %td= group.name
        %td= group.users.size

  %h1 グループ追加
  = form_for Group.new do |f|
    = f.select :kind, Group.kinds.keys
    = f.text_field :name
    = f.submit
