.content
  %h1 ユーザー一覧
  %table
    %thead
      %tr
        %th #
        %th Name
        %th Nickname
        %th Student Number
        %th Active
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.name
          %td= user.nickname
          %td= user.ldap_credential.try(:student_id)
          %td= user.active?
