.content
  %h1= "#{@meeting.name}のプレゼンテーション評価一覧"
  %table
    %tr
      %th Name
      %th Title
      %th Pass
      %th Fail
    - @meeting.presentations.each do |presentation|
      - user_judgements = presentation.user_judgments.group_by(&:passed)
      %tr
        %td= presentation.user.nickname
        %td= link_to presentation.title, presentation_path(presentation)
        %td= user_judgements[true].map { |j| j.user.nickname }.join(', ')
        %td= user_judgements[false].map { |j| j.user.nickname }.join(', ')
