.content
  %h2
    rg-net アカウント連携
    = "(#{@current_user.ldap_credential.present? ? '認証済み' : '未認証'})"
  - if @current_user.ldap_credential.present?
    .setting-form
      %label Username
      = text_field :ldap, :username, disabled: true, value: @current_user.ldap_credential.uid
      %label Student Id
      = text_field :ldap, :username, disabled: true, value: @current_user.ldap_credential.student_id
    %p この情報が間違っている場合は #coordinator まで連絡してください。
  - else
    = form_tag update_ldap_path, method: :patch, class: 'setting-form' do
      %label Username
      = text_field :ldap, :username, placeholder: 'username'
      %label Password
      = password_field :ldap, :password, placeholder: 'password'
      = submit_tag 'アカウント連携をする'

  %h2
    KG設定
  = nested_form_for @current_user, url: update_profile_path, class: 'setting-form' do |f|
    - if @current_user.errors.any?
      .flash.error
        - @current_user.errors.full_messages.each do |msg|
          %div= msg
    .setting-form
      = f.fields_for :group_users do |group_form|
        = group_form.link_to_remove do
          %i.fa.fa-trash
        = group_form.hidden_field :id
        = group_form.select :group_id, group_list
      = f.link_to_add '追加', :group_users
      = f.submit 'KG設定を更新する'

  %h2
    アクセス権限
  - if @current_user.privileges.any?
    %ul
      - @current_user.privileges.each do |privilege|
        %li= privilege.stringify
    = link_to '他のユーザへの権限共有', new_privilege_path
  - else
    %p 特別に許可されたアクセス権限はありません
