- content_for(:header) do
  %h1
    = page.title
    %span.edit
      = link_to edit_page_path do
        %i.fa.fa-edit
    %span.star
      %i.fa.fa-star
      = page.likes.size
    %span.history
      = link_to page_histories_path do
        %i.fa.fa-history
        = page.histories.size
  .breadcrumb= page_breadcrumb_links(page).html_safe

.content
  = page.render_content.html_safe

  - if page.subpages.present?
    %h1 Subpages
    %ul
      - page.subpages.each do |subpage|
        %li= link_to subpage.title, page_path(path: subpage.path)

= render 'likes/list', page: page
= render 'comments/show', comments: page.comments, new_comment: PageComment.new(page: page)
