- content_for(:title) { "#{@page.title} - Diff" }

.content
  %h1 Diff of #{@page.path} #{@before_history.id}..#{@after_history.id}
  %p Rev: #{@after_history.id} edited by #{@after_history.user.nickname} at #{l(@after_history.created_at)}

  - if @before_history.path != @after_history.path
    %h2 Path
    = diff_html(:path, @before_history, @after_history)
  - if @before_history.title != @after_history.title
    %h2 Title
    = diff_html(:title, @before_history, @after_history)
  - if @before_history.content != @after_history.content
    %h2 Content
    = diff_html(:content, @before_history, @after_history)
