= render 'search/search_bar'

.content-outer
  .left.content
    = include_or_create_page_content('TopPage',
      t('pages.create_top_page_msg')).html_safe
    = include_or_create_page_content(term_name,
      t('pages.create_this_sem_schedule_msg')).html_safe

  .right.content
    %h2= t 'pages.recently_updated'

    %ul.recent_contents
      - @recent_contents.results.each do |content|
        - if content.is_a?(Page)
          %li.page= link_to content.title, page_path(path: content.path)
        - elsif content.is_a?(Blog)
          %li.blog= link_to content.title, blog_path(content.to_param)
