.content
  .breadcrumb
    .link= link_to t('meetings.header'), meetings_path
    .link= link_to @meeting.name, meeting_path(@meeting)

  %h1 #{t 'presentations.order_header', name: @meeting.name}
  - if @meeting.presentations.empty?
    %p #{t 'presentations.none_registered_msg'}
  - else
    %p
      = t 'meetings.num_presentations'
      = @meeting.presentations.size
    %h2 #{t 'meetings.presentations_list_header'}
    = form_tag meeting_presentation_orders_path(@meeting)
    %table
      %tr
        %th Order
        %th
          Random -
          = link_to 'All', 'javascript: void(0);', class: 'presentation-order-random-all'
          |
          = link_to 'Clear', 'javascript: void(0);', class: 'presentation-order-random-clear'
        %th Presenter
        %th Title
      - orders = Array(1..@meeting.presentations.size)
      - @meeting.presentations.each_with_index do |presentation, index|
        %tr
          %td
            = select 'presentation_order[order]', presentation.id, orders, { selected: index + 1 }, class: 'order-selector'
          %td
            = check_box 'presentation_order[random]', presentation.id, class: 'presentation-order-random'
          %td= show_user_badge(presentation.user)
          %td= presentation.title
    = submit_tag
