.content
  %h1 ファイルをアップロード
  = form_for Upload.new do |f|
    = f.file_field :file
    = f.submit

  %h1 アップロードされたファイル
  %table
    %tr
      %th #
      %th User
      %th Image
      %th File Url
    - @uploads.each do |upload|
      %tr
        %td= upload.id
        %td= show_user_badge(upload.user)
        %td{ width: '300px' }
          - if upload.image?
            = image_tag file_upload_url(upload.to_param)
          - else
            \-
        %td= text_field_tag nil, file_upload_url(upload.to_param)
  = paginate @uploads
