!!!
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'utf-8' }
    %title= content_for?(:title) ? content_for(:title) : 'RG Portal'
    = content_for(:css)
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = content_for(:javascript)
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav
      .inner
        .inner-left
          .title
            = link_to 'RG Portal', root_path
          .control
            = link_to 'WIP/TERM', '#'
            = link_to 'Thesis', '#'
        - if @current_user
          .inner-right
            .user
              .icon= image_tag @current_user.icon_url
              .name= @current_user.nickname

    - if content_for?(:header)
      .header
        .inner= content_for(:header)

    .main
      = yield
