!!!
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'utf-8' }
    %title= render_title
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = content_for(:css)
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = content_for(:javascript)
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ class: css_namespace }
    %nav
      .inner
        .inner-left
          .mobile-control
            %i.fa.fa-bars
          .title
            = link_to 'RG Portal', root_path
          .control
            = link_to 'WIP/TERM', wip_term_path
            = link_to 'Thesis', thesis_path
            = link_to 'Meetings', meetings_path
            = link_to 'Uploads', uploads_path
        - if @current_user
          .inner-right
            .control
              = link_to edit_profile_path do
                .user
                  .icon= image_tag @current_user.icon_url
                  .name= @current_user.nickname

    - if content_for?(:header)
      .header
        .inner= content_for(:header)

    .main
      - flash.each do |level, message|
        .flash{ class: level }= message
      = yield
